html, body {
  height: 100%;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
  
header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #333;
  color: #fff;
  padding: 20px;
} 
.name {
  margin: 0.67em 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.8rem;
  text-align: center;
  margin-top: auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toggleText {
  display: none;
}

button {
  display: block;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-list {
  font-size: 1.5rem;
  margin: 0 0.8rem;
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #ff7f50;
}

.project-list 
.repo-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-list a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

li {
  margin-bottom: 0.5em;
  list-style: none;
}

.project-list a:hover {
  color: #ff7f50;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 0.1em solid #333;
  transition: border-bottom 0.2s;
  text-decoration: none;
}

a:hover {
  border-bottom-color: #fff;
}

.hamburger {
display: none;
cursor: pointer;
margin: 0.67em 0;
}

.hamburger .line {
width: 1.9rem;
height: 0.4rem;
background-color: #ccc;
margin: 0.2rem 0;
}
.contact {
  display: block;
  justify-content: center;;
  align-content: center;
  flex-direction: column;
}
.img-project {
  width: 45rem;
  height: 45rem;
  background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}

@media (max-width: 768px) {
  .nav-ul {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: column-reverse;
  }

  .hamburger {
    display: block;
    justify-content: flex-end;
  }

  .nav-ul.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
}

